.container {
  grid-template-columns: 50% 50%;
  grid-template-rows:
    [row1-end] 240px
    [row2-end] 80px [row3-end] 500px [row4-end] 500px [row5-end] 90px;
}

.header {
  /* Main grid */
  grid-column: 1 / span 2;
}

.quote {
  padding-top: 30px;
  grid-column: 1 / span 2;
  text-align:  center;
}

.reward {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 4%;
}

.cardBody {
  background: white;
  text-align: center;
  border-style: solid;
  border-right-width: 0px;
  flex-grow: 1;
}

.cardBody,
.cardTracker {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardLeftTitle {
  color: #1f6a73;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 28px;
}

.cardSubtitle {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cardBody img {
  align-self: center;
}

.cardTracker img {
  align-self: center;
}

.cardTracker {
  background: #b3e2ed;
  text-align: center;
  padding: 12px;
  border-style: solid;
  width: 50%;
  box-sizing: border-box;
}

.footer {
  grid-column: 1 / span 2;
}

@media only screen and (max-width: 1010px) {
  .container {
    display: grid;
  }
}

@media only screen and (max-width: 940px) {
  .container {
    grid-template-rows: [row1-end] 240px [row2-end] 80px [row3-end] 700px [row4-end] 800px [row5-end] 90px;
  }

  .reward {
    flex-direction: column;
  }

  .cardBody {
    border-right: solid;
    border-bottom: 0px;
  }

  .cardTracker {
    height: 50%;
    width: 100%;
    border-style: solid;
  }
}

@media only screen and (max-width: 680px) {
  .container {
    grid-template-rows: [row1-end] 240px [row2-end] 80px [row3-end] 700px [row4-end] 800px [row5-end] 800px [row6-end] 800px [row7-end] 90px;
    min-width: 500px;
  }

  .reward {
    grid-column: 1 / span 2;
  }

  .cardLeftTitle {
    margin-top: 10px;
  }
}
